In [24]:
import requests
from bs4 import BeautifulSoup
from pandas import DataFrame
import pandas as pd
import numpy as np
import time

def result_type(df, *col):
    if df[col[0]] > df[col[1]]:
        if df['type'] == 'SO':
            return 4
        else:
            return 1
    elif df['type'] == 'OT':
        return 3
    return 2

df = DataFrame()

for year in range(2018, 2016, -1):
    r = requests.get(f'https://www.hockey-reference.com/leagues/NHL_{year}_games.html')
    soup = BeautifulSoup(r.content, 'html.parser')
    
    df = pd.concat([df, DataFrame(np.array([ele.get_text() for ele in soup.select('#games > tbody > tr > .')]).reshape(-1, 9)) \
        .drop(columns=[0, 6, 7, 8], axis=1) \
        .rename(columns={1: 'away', 2: 'away_goals', 3: 'home', 4: 'home_goals', 5: 'type'}) \
        .assign(away_result=lambda x: x.apply(result_type, args=['away_goals', 'home_goals'], axis=1),
                home_result=lambda x: x.apply(result_type, args=['home_goals', 'away_goals'], axis=1),
                year=f'{year}') \
        .drop(columns=['type'])])
    time.sleep(2)

In [41]:
df = df \
    .reset_index(drop=True) \
    .reset_index() \
    .rename(columns={'index': 'id'}) \
    .assign(id=lambda x: x['id'] + 1) \
    .loc[lambda x: x['away_goals'] != '']

In [5]:
teams = DataFrame(df['home'].unique(), columns=['team']) \
        .assign(team=lambda x: x['team'].str.split(' ').str[-1]) \
        .sort_values('team') \
        .reset_index(drop=True) \
        .reset_index() \
        .rename(columns={'index': 'id'}) \
        .assign(id=lambda x: x['id'] + 1)
teams

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Avalanche</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Blackhawks</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Blues</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Bruins</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Canadiens</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>Canucks</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>Capitals</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>Coyotes</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>Devils</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>Ducks</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>Flames</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>Flyers</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>Hurricanes</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>Islanders</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>Jackets</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>Jets</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>Kings</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>Knights</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>Leafs</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>Lightning</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>Oilers</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>Panthers</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>Penguins</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>Predators</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>Rangers</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>Sabres</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>Senators</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>Sharks</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>Stars</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>Wild</td>
    </tr>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>Wings</td>
    </tr>
  </tbody>
</table>
</div>

In [15]:
playoffs = DataFrame()

for year in range(2018, 2016, -1):
    r = requests.get(f'https://www.hockey-reference.com/leagues/NHL_2018.html')
    soup = BeautifulSoup(r.content, 'html.parser')
    
    playoffs = pd.concat([playoffs, 
                          pd.concat([DataFrame([ele.get_text() for ele in soup.select('#standings_EAS > tbody > tr > th')]),
                                     DataFrame([ele.get_text() for ele in soup.select('#standings_WES > tbody > tr > th')])
                                    ]) \
                            .assign(playoffs=lambda x: x.iloc[:, 0].str.endswith('*').astype(int),
                                    year=f'{year}',
                                    team=lambda x: x.iloc[:, 0].str.split(' ').str[-1].str.replace('*', '')) \
                            .merge(teams, left_on='team', right_on='team') \
                            .drop(columns=[0, 'team']) \
                            [['id', 'year', 'playoffs']]
              ])

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>year</th>
      <th>playoffs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>20</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>19</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>22</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>31</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>27</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>26</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>23</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>25</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>24</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>16</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>30</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>29</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>18</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>10</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>28</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>17</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>11</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>21</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>6</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>4</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>19</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>22</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>31</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>27</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>26</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>7</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>23</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>12</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>15</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>9</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>25</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>24</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>16</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>30</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>1</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>3</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>29</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>2</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>18</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>10</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>28</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>17</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>11</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>21</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>6</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>8</td>
      <td>2017</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>62 rows × 3 columns</p>
</div>

In [33]:
playoffs \
    .reset_index(drop=True) \
    .reset_index() \
    .rename(columns={'index': 'id'}) \
    .assign(id=lambda x: x['id'] + 1)

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>id</th>
      <th>year</th>
      <th>playoffs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>21</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>5</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>20</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>23</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>32</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>6</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>28</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>27</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>8</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>24</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>13</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>16</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>10</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>14</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>15</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>26</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>25</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>17</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>31</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>2</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>4</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>30</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>3</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>19</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>11</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>29</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>18</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>12</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>22</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>7</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>32</th>
      <td>33</td>
      <td>5</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>33</th>
      <td>34</td>
      <td>20</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>34</th>
      <td>35</td>
      <td>23</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>36</td>
      <td>32</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>37</td>
      <td>6</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>38</td>
      <td>28</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>39</td>
      <td>27</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>40</td>
      <td>8</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>40</th>
      <td>41</td>
      <td>24</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>41</th>
      <td>42</td>
      <td>13</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>42</th>
      <td>43</td>
      <td>16</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>43</th>
      <td>44</td>
      <td>10</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>44</th>
      <td>45</td>
      <td>14</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>45</th>
      <td>46</td>
      <td>15</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>47</td>
      <td>26</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>47</th>
      <td>48</td>
      <td>25</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>48</th>
      <td>49</td>
      <td>17</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>49</th>
      <td>50</td>
      <td>31</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>50</th>
      <td>51</td>
      <td>2</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>51</th>
      <td>52</td>
      <td>4</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>53</td>
      <td>30</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>54</td>
      <td>3</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>54</th>
      <td>55</td>
      <td>19</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>55</th>
      <td>56</td>
      <td>11</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>56</th>
      <td>57</td>
      <td>29</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>57</th>
      <td>58</td>
      <td>18</td>
      <td>2017</td>
      <td>1</td>
    </tr>
    <tr>
      <th>58</th>
      <td>59</td>
      <td>12</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>60</td>
      <td>22</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>61</td>
      <td>7</td>
      <td>2017</td>
      <td>0</td>
    </tr>
    <tr>
      <th>61</th>
      <td>62</td>
      <td>9</td>
      <td>2017</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
<p>62 rows × 4 columns</p>
</div>

In [42]:
schedule = df[['id', 'year', 'away', 'home']] \
        .assign(away=lambda x: x['away'].str.split(' ').str[-1]) \
        .assign(home=lambda x: x['home'].str.split(' ').str[-1]) \
        .merge(teams[['id', 'team']], left_on='away', right_on='team') \
        .merge(teams[['id', 'team']], left_on='home', right_on='team')  \
        [['id_x', 'year', 'id_y', 'id']] \
        .rename(columns={'id_x': 'id', 'id_y': 'away_id', 'id': 'home_id'}) \
        .sort_values('id') \
        .reset_index(drop=True)
schedule

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>year</th>
      <th>away_id</th>
      <th>home_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2018</td>
      <td>11</td>
      <td>21</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>2018</td>
      <td>3</td>
      <td>23</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>2018</td>
      <td>12</td>
      <td>28</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>2018</td>
      <td>19</td>
      <td>16</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>2018</td>
      <td>8</td>
      <td>10</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>2018</td>
      <td>24</td>
      <td>4</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>2018</td>
      <td>5</td>
      <td>26</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>2018</td>
      <td>23</td>
      <td>2</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>2018</td>
      <td>30</td>
      <td>31</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>2018</td>
      <td>12</td>
      <td>17</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>2018</td>
      <td>1</td>
      <td>25</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>2018</td>
      <td>7</td>
      <td>27</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>2018</td>
      <td>14</td>
      <td>15</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>2018</td>
      <td>18</td>
      <td>29</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>2018</td>
      <td>22</td>
      <td>20</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>2018</td>
      <td>12</td>
      <td>10</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>2018</td>
      <td>18</td>
      <td>8</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>2018</td>
      <td>30</td>
      <td>13</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>2018</td>
      <td>16</td>
      <td>11</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>2018</td>
      <td>15</td>
      <td>2</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>2018</td>
      <td>20</td>
      <td>22</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>2018</td>
      <td>1</td>
      <td>9</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>2018</td>
      <td>26</td>
      <td>14</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>2018</td>
      <td>31</td>
      <td>27</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>2018</td>
      <td>24</td>
      <td>23</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>2018</td>
      <td>17</td>
      <td>28</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>2018</td>
      <td>29</td>
      <td>3</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>2018</td>
      <td>25</td>
      <td>19</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>2018</td>
      <td>21</td>
      <td>6</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>2018</td>
      <td>5</td>
      <td>7</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2471</th>
      <td>2472</td>
      <td>2017</td>
      <td>3</td>
      <td>22</td>
    </tr>
    <tr>
      <th>2472</th>
      <td>2473</td>
      <td>2017</td>
      <td>11</td>
      <td>17</td>
    </tr>
    <tr>
      <th>2473</th>
      <td>2474</td>
      <td>2017</td>
      <td>23</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2474</th>
      <td>2475</td>
      <td>2017</td>
      <td>21</td>
      <td>28</td>
    </tr>
    <tr>
      <th>2475</th>
      <td>2476</td>
      <td>2017</td>
      <td>20</td>
      <td>19</td>
    </tr>
    <tr>
      <th>2476</th>
      <td>2477</td>
      <td>2017</td>
      <td>20</td>
      <td>5</td>
    </tr>
    <tr>
      <th>2477</th>
      <td>2478</td>
      <td>2017</td>
      <td>30</td>
      <td>8</td>
    </tr>
    <tr>
      <th>2478</th>
      <td>2479</td>
      <td>2017</td>
      <td>7</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2479</th>
      <td>2480</td>
      <td>2017</td>
      <td>3</td>
      <td>13</td>
    </tr>
    <tr>
      <th>2480</th>
      <td>2481</td>
      <td>2017</td>
      <td>1</td>
      <td>29</td>
    </tr>
    <tr>
      <th>2481</th>
      <td>2482</td>
      <td>2017</td>
      <td>5</td>
      <td>31</td>
    </tr>
    <tr>
      <th>2482</th>
      <td>2483</td>
      <td>2017</td>
      <td>26</td>
      <td>22</td>
    </tr>
    <tr>
      <th>2483</th>
      <td>2484</td>
      <td>2017</td>
      <td>2</td>
      <td>17</td>
    </tr>
    <tr>
      <th>2484</th>
      <td>2485</td>
      <td>2017</td>
      <td>14</td>
      <td>9</td>
    </tr>
    <tr>
      <th>2485</th>
      <td>2486</td>
      <td>2017</td>
      <td>25</td>
      <td>27</td>
    </tr>
    <tr>
      <th>2486</th>
      <td>2487</td>
      <td>2017</td>
      <td>15</td>
      <td>12</td>
    </tr>
    <tr>
      <th>2487</th>
      <td>2488</td>
      <td>2017</td>
      <td>11</td>
      <td>28</td>
    </tr>
    <tr>
      <th>2488</th>
      <td>2489</td>
      <td>2017</td>
      <td>23</td>
      <td>19</td>
    </tr>
    <tr>
      <th>2489</th>
      <td>2490</td>
      <td>2017</td>
      <td>21</td>
      <td>6</td>
    </tr>
    <tr>
      <th>2490</th>
      <td>2491</td>
      <td>2017</td>
      <td>24</td>
      <td>16</td>
    </tr>
    <tr>
      <th>2491</th>
      <td>2492</td>
      <td>2017</td>
      <td>17</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2492</th>
      <td>2493</td>
      <td>2017</td>
      <td>9</td>
      <td>31</td>
    </tr>
    <tr>
      <th>2493</th>
      <td>2494</td>
      <td>2017</td>
      <td>6</td>
      <td>21</td>
    </tr>
    <tr>
      <th>2494</th>
      <td>2495</td>
      <td>2017</td>
      <td>27</td>
      <td>14</td>
    </tr>
    <tr>
      <th>2495</th>
      <td>2496</td>
      <td>2017</td>
      <td>23</td>
      <td>25</td>
    </tr>
    <tr>
      <th>2496</th>
      <td>2497</td>
      <td>2017</td>
      <td>13</td>
      <td>12</td>
    </tr>
    <tr>
      <th>2497</th>
      <td>2498</td>
      <td>2017</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2498</th>
      <td>2499</td>
      <td>2017</td>
      <td>26</td>
      <td>20</td>
    </tr>
    <tr>
      <th>2499</th>
      <td>2500</td>
      <td>2017</td>
      <td>15</td>
      <td>19</td>
    </tr>
    <tr>
      <th>2500</th>
      <td>2501</td>
      <td>2017</td>
      <td>22</td>
      <td>7</td>
    </tr>
  </tbody>
</table>
<p>2501 rows × 4 columns</p>
</div>

In [46]:
away = df.loc[:, ['id', 'year', 'away', 'away_goals', 'away_result']] \
        .rename(columns={'away': 'team', 'away_goals': 'goals', 'away_result': 'result_id'})
home = df.loc[:, ['id', 'year', 'home', 'home_goals', 'home_result']] \
    .rename(columns={'home': 'team', 'home_goals': 'goals', 'home_result': 'result_id'})

results = pd.concat([away, home]) \
    .assign(team=lambda x: x['team'].str.split(' ').str[-1]) \
    .merge(teams, left_on='team', right_on='team') \
    .drop(columns=['team']) \
    .rename(columns={'id_x': 'game_id', 'id_y': 'team_id'}) \
    .sort_values('game_id') \
    .reset_index() \
    .rename(columns={'index': 'id'}) \
    [['id', 'game_id', 'year', 'team_id', 'goals', 'result_id']] \
    .sort_values('id')
results

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>game_id</th>
      <th>year</th>
      <th>team_id</th>
      <th>goals</th>
      <th>result_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2018</td>
      <td>11</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>62</th>
      <td>1</td>
      <td>32</td>
      <td>2018</td>
      <td>11</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>94</th>
      <td>2</td>
      <td>48</td>
      <td>2018</td>
      <td>11</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>149</th>
      <td>3</td>
      <td>75</td>
      <td>2018</td>
      <td>11</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>259</th>
      <td>4</td>
      <td>130</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>273</th>
      <td>5</td>
      <td>137</td>
      <td>2018</td>
      <td>11</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>552</th>
      <td>6</td>
      <td>277</td>
      <td>2018</td>
      <td>11</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>594</th>
      <td>7</td>
      <td>298</td>
      <td>2018</td>
      <td>11</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>629</th>
      <td>8</td>
      <td>315</td>
      <td>2018</td>
      <td>11</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>645</th>
      <td>9</td>
      <td>323</td>
      <td>2018</td>
      <td>11</td>
      <td>0</td>
      <td>3</td>
    </tr>
    <tr>
      <th>679</th>
      <td>10</td>
      <td>340</td>
      <td>2018</td>
      <td>11</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>697</th>
      <td>11</td>
      <td>349</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>854</th>
      <td>12</td>
      <td>428</td>
      <td>2018</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>864</th>
      <td>13</td>
      <td>433</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>937</th>
      <td>14</td>
      <td>469</td>
      <td>2018</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1015</th>
      <td>15</td>
      <td>508</td>
      <td>2018</td>
      <td>11</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1142</th>
      <td>16</td>
      <td>572</td>
      <td>2018</td>
      <td>11</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1150</th>
      <td>17</td>
      <td>576</td>
      <td>2018</td>
      <td>11</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1305</th>
      <td>18</td>
      <td>653</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1323</th>
      <td>19</td>
      <td>662</td>
      <td>2018</td>
      <td>11</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1335</th>
      <td>20</td>
      <td>668</td>
      <td>2018</td>
      <td>11</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1354</th>
      <td>21</td>
      <td>678</td>
      <td>2018</td>
      <td>11</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1497</th>
      <td>22</td>
      <td>749</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1626</th>
      <td>23</td>
      <td>814</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1655</th>
      <td>24</td>
      <td>828</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1677</th>
      <td>25</td>
      <td>839</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1708</th>
      <td>26</td>
      <td>855</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1725</th>
      <td>27</td>
      <td>863</td>
      <td>2018</td>
      <td>11</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1762</th>
      <td>28</td>
      <td>882</td>
      <td>2018</td>
      <td>11</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1854</th>
      <td>29</td>
      <td>928</td>
      <td>2018</td>
      <td>11</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>3256</th>
      <td>4972</td>
      <td>1629</td>
      <td>2017</td>
      <td>28</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3325</th>
      <td>4973</td>
      <td>1663</td>
      <td>2017</td>
      <td>28</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3378</th>
      <td>4974</td>
      <td>1690</td>
      <td>2017</td>
      <td>28</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3518</th>
      <td>4975</td>
      <td>1760</td>
      <td>2017</td>
      <td>28</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3568</th>
      <td>4976</td>
      <td>1785</td>
      <td>2017</td>
      <td>28</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3628</th>
      <td>4977</td>
      <td>1815</td>
      <td>2017</td>
      <td>28</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3677</th>
      <td>4978</td>
      <td>1839</td>
      <td>2017</td>
      <td>28</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>3700</th>
      <td>4979</td>
      <td>1851</td>
      <td>2017</td>
      <td>28</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3738</th>
      <td>4980</td>
      <td>1870</td>
      <td>2017</td>
      <td>28</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3841</th>
      <td>4981</td>
      <td>1921</td>
      <td>2017</td>
      <td>28</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3862</th>
      <td>4982</td>
      <td>1932</td>
      <td>2017</td>
      <td>28</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3903</th>
      <td>4983</td>
      <td>1952</td>
      <td>2017</td>
      <td>28</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3936</th>
      <td>4984</td>
      <td>1969</td>
      <td>2017</td>
      <td>28</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4019</th>
      <td>4985</td>
      <td>2010</td>
      <td>2017</td>
      <td>28</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4043</th>
      <td>4986</td>
      <td>2022</td>
      <td>2017</td>
      <td>28</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4099</th>
      <td>4987</td>
      <td>2050</td>
      <td>2017</td>
      <td>28</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4230</th>
      <td>4988</td>
      <td>2116</td>
      <td>2017</td>
      <td>28</td>
      <td>5</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4294</th>
      <td>4989</td>
      <td>2148</td>
      <td>2017</td>
      <td>28</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4399</th>
      <td>4990</td>
      <td>2200</td>
      <td>2017</td>
      <td>28</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4426</th>
      <td>4991</td>
      <td>2214</td>
      <td>2017</td>
      <td>28</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4521</th>
      <td>4992</td>
      <td>2261</td>
      <td>2017</td>
      <td>28</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4550</th>
      <td>4993</td>
      <td>2276</td>
      <td>2017</td>
      <td>28</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4568</th>
      <td>4994</td>
      <td>2285</td>
      <td>2017</td>
      <td>28</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4598</th>
      <td>4995</td>
      <td>2300</td>
      <td>2017</td>
      <td>28</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4627</th>
      <td>4996</td>
      <td>2314</td>
      <td>2017</td>
      <td>28</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4657</th>
      <td>4997</td>
      <td>2329</td>
      <td>2017</td>
      <td>28</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4809</th>
      <td>4998</td>
      <td>2405</td>
      <td>2017</td>
      <td>28</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4919</th>
      <td>4999</td>
      <td>2460</td>
      <td>2017</td>
      <td>28</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4949</th>
      <td>5000</td>
      <td>2475</td>
      <td>2017</td>
      <td>28</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4974</th>
      <td>5001</td>
      <td>2488</td>
      <td>2017</td>
      <td>28</td>
      <td>3</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>5002 rows × 6 columns</p>
</div>