In [77]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from pandas import DataFrame, Series

In [25]:
r = requests.get('https://www.hockey-reference.com/leagues/NHL_2018_games.html')
soup = BeautifulSoup(r.content, 'html.parser')

In [198]:
df = DataFrame(np.array([ele.get_text() for ele in soup.select('#games > tbody > tr > .')]).reshape(-1, 9))
df = df.drop(columns=[6, 7, 8], axis=1) \
    .rename(columns={0: 'date', 1: 'away', 2: 'away_goals', 3: 'home', 4: 'home_goals', 5: 'type'}) \
    .reset_index() \
    .rename(columns={'index': 'game_id'})
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>game_id</th>
      <th>date</th>
      <th>away</th>
      <th>away_goals</th>
      <th>home</th>
      <th>home_goals</th>
      <th>type</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>2017-10-04</td>
      <td>Calgary Flames</td>
      <td>0</td>
      <td>Edmonton Oilers</td>
      <td>3</td>
      <td></td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2017-10-04</td>
      <td>St. Louis Blues</td>
      <td>5</td>
      <td>Pittsburgh Penguins</td>
      <td>4</td>
      <td>OT</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>2017-10-04</td>
      <td>Philadelphia Flyers</td>
      <td>5</td>
      <td>San Jose Sharks</td>
      <td>3</td>
      <td></td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>2017-10-04</td>
      <td>Toronto Maple Leafs</td>
      <td>7</td>
      <td>Winnipeg Jets</td>
      <td>2</td>
      <td></td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>2017-10-05</td>
      <td>Arizona Coyotes</td>
      <td>4</td>
      <td>Anaheim Ducks</td>
      <td>5</td>
      <td></td>
    </tr>
  </tbody>
</table>
</div>

In [180]:
teams = DataFrame(df['home'].unique(), columns=['teams'])
teams = teams.assign(teams=teams['teams'].str.split(' ').str[-1]) \
    .sort_values('teams') \
    .reset_index(drop=True) \
    .reset_index() \
    .rename(columns={'index': 'id'})
teams.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>teams</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Avalanche</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>Blackhawks</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>Blues</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>Bruins</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>Canadiens</td>
    </tr>
  </tbody>
</table>
</div>

In [280]:
points = DataFrame(data={'result':['W', 'L', 'OTL', 'SOW'], 'points': [2, 0, 1, 2]})
points = points.reset_index() \
    .rename(columns={'index': 'id'}) \
    .assign(id = lambda x: x['id'] + 1)
points

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>result</th>
      <th>points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>W</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>L</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>OTL</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>SOW</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [202]:
schedule = df[['game_id', 'date', 'away', 'home']] \
    .assign(away=df['away'].str.split(' ').str[-1]) \
    .assign(home=df['home'].str.split(' ').str[-1]) \
    .merge(teams[['id', 'teams']], left_on='away', right_on='teams') \
    .merge(teams[['id', 'teams']], left_on='home', right_on='teams') \
    [['game_id', 'date', 'id_x', 'id_y']] \
    .rename(columns={'id_x': 'away_id', 'id_y': 'home_id'}) \
    .sort_values('game_id') \
    .reset_index(drop=True)
schedule.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>game_id</th>
      <th>date</th>
      <th>away_id</th>
      <th>home_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>2017-10-04</td>
      <td>10</td>
      <td>20</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2017-10-04</td>
      <td>2</td>
      <td>22</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>2017-10-04</td>
      <td>11</td>
      <td>27</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>2017-10-04</td>
      <td>18</td>
      <td>15</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>2017-10-05</td>
      <td>7</td>
      <td>9</td>
    </tr>
  </tbody>
</table>
</div>

In [240]:
def result_calc(df, *col):
    if df[col[0]] > df[col[1]]:
        if df['type'] == 'SO':
            return 4
        else:
            return 1
    elif df['type'] == 'OT':
        return 3
    return 2


df = df.assign(away_result=df.apply(result_calc, args=['away_goals', 'home_goals'], axis=1)) \
        .assign(home_result=df.apply(result_calc, args=['home_goals', 'away_goals'], axis=1))

away = df.loc[:, ['game_id', 'away', 'away_goals', 'away_result']] \
    .rename(columns={'away': 'team', 'away_goals': 'goals', 'away_result': 'result_id'})
home = df.loc[:, ['game_id', 'home', 'home_goals', 'home_result']] \
    .rename(columns={'home': 'team', 'home_goals': 'goals', 'home_result': 'result_id'})

results = pd.concat([away, home]) \
    .assign(team=lambda x: x['team'].str.split(' ').str[-1]) \
    .merge(teams, left_on='team', right_on='teams') \
    .drop(columns=['team', 'teams']) \
    .rename(columns={'id': 'team_id'}) \
    .sort_values('game_id') \
    .reset_index(drop=False)
results = results[['game_id', 'team_id', 'goals', 'result_id']]
results

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>game_id</th>
      <th>team_id</th>
      <th>goals</th>
      <th>result_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>10</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>0</td>
      <td>20</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>2</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>22</td>
      <td>4</td>
      <td>3</td>
    </tr>
    <tr>
      <th>4</th>
      <td>2</td>
      <td>27</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>5</th>
      <td>2</td>
      <td>11</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>3</td>
      <td>15</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>7</th>
      <td>3</td>
      <td>18</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>4</td>
      <td>9</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>4</td>
      <td>7</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>10</th>
      <td>5</td>
      <td>23</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>11</th>
      <td>5</td>
      <td>3</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>6</td>
      <td>25</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>13</th>
      <td>6</td>
      <td>4</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>14</th>
      <td>7</td>
      <td>1</td>
      <td>10</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>7</td>
      <td>22</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>16</th>
      <td>8</td>
      <td>29</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>17</th>
      <td>8</td>
      <td>30</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>9</td>
      <td>11</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>19</th>
      <td>9</td>
      <td>16</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>10</td>
      <td>24</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>21</th>
      <td>10</td>
      <td>0</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22</th>
      <td>11</td>
      <td>26</td>
      <td>4</td>
      <td>2</td>
    </tr>
    <tr>
      <th>23</th>
      <td>11</td>
      <td>6</td>
      <td>5</td>
      <td>4</td>
    </tr>
    <tr>
      <th>24</th>
      <td>12</td>
      <td>14</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>12</td>
      <td>13</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>26</th>
      <td>13</td>
      <td>28</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>27</th>
      <td>13</td>
      <td>17</td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28</th>
      <td>14</td>
      <td>19</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>14</td>
      <td>21</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>2512</th>
      <td>1256</td>
      <td>3</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2513</th>
      <td>1256</td>
      <td>26</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2514</th>
      <td>1257</td>
      <td>12</td>
      <td>3</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2515</th>
      <td>1257</td>
      <td>19</td>
      <td>2</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2516</th>
      <td>1258</td>
      <td>10</td>
      <td>7</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2517</th>
      <td>1258</td>
      <td>17</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2518</th>
      <td>1259</td>
      <td>2</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2519</th>
      <td>1259</td>
      <td>0</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2520</th>
      <td>1260</td>
      <td>13</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2521</th>
      <td>1260</td>
      <td>30</td>
      <td>3</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2522</th>
      <td>1261</td>
      <td>5</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2523</th>
      <td>1261</td>
      <td>20</td>
      <td>3</td>
      <td>4</td>
    </tr>
    <tr>
      <th>2524</th>
      <td>1262</td>
      <td>21</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2525</th>
      <td>1262</td>
      <td>25</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2526</th>
      <td>1263</td>
      <td>28</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2527</th>
      <td>1263</td>
      <td>16</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2528</th>
      <td>1264</td>
      <td>14</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2529</th>
      <td>1264</td>
      <td>23</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2530</th>
      <td>1265</td>
      <td>24</td>
      <td>0</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2531</th>
      <td>1265</td>
      <td>11</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2532</th>
      <td>1266</td>
      <td>29</td>
      <td>6</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2533</th>
      <td>1266</td>
      <td>27</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2534</th>
      <td>1267</td>
      <td>4</td>
      <td>2</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2535</th>
      <td>1267</td>
      <td>18</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2536</th>
      <td>1268</td>
      <td>1</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2537</th>
      <td>1268</td>
      <td>15</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2538</th>
      <td>1269</td>
      <td>8</td>
      <td>3</td>
      <td>2</td>
    </tr>
    <tr>
      <th>2539</th>
      <td>1269</td>
      <td>6</td>
      <td>5</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2540</th>
      <td>1270</td>
      <td>21</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2541</th>
      <td>1270</td>
      <td>3</td>
      <td>2</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
<p>2542 rows × 4 columns</p>
</div>

In [241]:
r = requests.get('https://www.hockey-reference.com/leagues/NHL_2018.html')
soup = BeautifulSoup(r.content, 'html.parser')

In [262]:
df = pd.concat([DataFrame([ele.get_text() for ele in soup.select('#standings_EAS > tbody > tr > th')]),
               DataFrame([ele.get_text() for ele in soup.select('#standings_WES > tbody > tr > th')])
               ])
playoffs = df.assign(playoffs=lambda x: x.iloc[:, 0].str.endswith('*').astype(int),
               year=2018,
               team=lambda x: x.iloc[:, 0].str.split(' ').str[-1].str.replace('*', '')) \
        .merge(teams, left_on='team', right_on='teams') \
        .drop(columns=[0, 'team', 'teams']) \
        [['id', 'year', 'playoffs']]
playoffs

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>year</th>
      <th>playoffs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>19</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>21</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>30</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>26</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>25</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>22</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>8</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>12</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>13</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>24</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>23</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>15</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>29</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>28</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>17</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>9</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>27</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>16</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>10</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>20</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>5</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>7</td>
      <td>2018</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [293]:
wins = results \
    .merge(points[['id', 'result']], left_on='result_id', right_on='id') \
    .sort_values('game_id') \
    .drop(columns=['game_id', 'goals', 'result_id', 'id']) \
    .groupby('team_id') \
    .head(41) \
    .loc[lambda x: x['result'] == 'W'] \
    .groupby('team_id') \
    .count()
wins

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>result</th>
    </tr>
    <tr>
      <th>team_id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>21</td>
    </tr>
    <tr>
      <th>1</th>
      <td>20</td>
    </tr>
    <tr>
      <th>2</th>
      <td>22</td>
    </tr>
    <tr>
      <th>3</th>
      <td>21</td>
    </tr>
    <tr>
      <th>4</th>
      <td>15</td>
    </tr>
    <tr>
      <th>5</th>
      <td>16</td>
    </tr>
    <tr>
      <th>6</th>
      <td>22</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
    </tr>
    <tr>
      <th>8</th>
      <td>19</td>
    </tr>
    <tr>
      <th>9</th>
      <td>17</td>
    </tr>
    <tr>
      <th>10</th>
      <td>19</td>
    </tr>
    <tr>
      <th>11</th>
      <td>18</td>
    </tr>
    <tr>
      <th>12</th>
      <td>16</td>
    </tr>
    <tr>
      <th>13</th>
      <td>18</td>
    </tr>
    <tr>
      <th>14</th>
      <td>19</td>
    </tr>
    <tr>
      <th>15</th>
      <td>22</td>
    </tr>
    <tr>
      <th>16</th>
      <td>22</td>
    </tr>
    <tr>
      <th>17</th>
      <td>27</td>
    </tr>
    <tr>
      <th>18</th>
      <td>21</td>
    </tr>
    <tr>
      <th>19</th>
      <td>27</td>
    </tr>
    <tr>
      <th>20</th>
      <td>17</td>
    </tr>
    <tr>
      <th>21</th>
      <td>15</td>
    </tr>
    <tr>
      <th>22</th>
      <td>18</td>
    </tr>
    <tr>
      <th>23</th>
      <td>21</td>
    </tr>
    <tr>
      <th>24</th>
      <td>19</td>
    </tr>
    <tr>
      <th>25</th>
      <td>10</td>
    </tr>
    <tr>
      <th>26</th>
      <td>13</td>
    </tr>
    <tr>
      <th>27</th>
      <td>20</td>
    </tr>
    <tr>
      <th>28</th>
      <td>19</td>
    </tr>
    <tr>
      <th>29</th>
      <td>20</td>
    </tr>
    <tr>
      <th>30</th>
      <td>14</td>
    </tr>
  </tbody>
</table>
</div>

In [262]:
df = pd.concat([DataFrame([ele.get_text() for ele in soup.select('#standings_EAS > tbody > tr > th')]),
               DataFrame([ele.get_text() for ele in soup.select('#standings_WES > tbody > tr > th')])
               ])
playoffs = df.assign(playoffs=lambda x: x.iloc[:, 0].str.endswith('*').astype(int),
               year=2018,
               team=lambda x: x.iloc[:, 0].str.split(' ').str[-1].str.replace('*', '')) \
        .merge(teams, left_on='team', right_on='teams') \
        .drop(columns=[0, 'team', 'teams']) \
        [['id', 'year', 'playoffs']]
playoffs

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>year</th>
      <th>playoffs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>19</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>3</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>18</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>21</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>4</th>
      <td>30</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>4</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>26</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>7</th>
      <td>25</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>6</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>22</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>14</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>8</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>12</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>13</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>24</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>16</th>
      <td>23</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>15</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>29</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>0</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>28</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>1</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>23</th>
      <td>17</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>9</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>25</th>
      <td>27</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>16</td>
      <td>2018</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>10</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>28</th>
      <td>20</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>5</td>
      <td>2018</td>
      <td>0</td>
    </tr>
    <tr>
      <th>30</th>
      <td>7</td>
      <td>2018</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>

In [303]:
goal_diff = results \
    .merge(results, left_on='game_id', right_on='game_id') \
    .loc[lambda x: x['team_id_x'] != x['team_id_y']] \
    .assign(diff = lambda x: x['goals_x'].astype(int) - x['goals_y'].astype(int)) \
    .drop(columns=['result_id_x', 'team_id_y', 'result_id_y', 'goals_x', 'goals_y']) \
    .groupby('team_id_x') \
    .head(41) \
    .groupby('team_id_x') \
    ['diff'] \
    .sum()

goal_diff.head()

team_id_x
0    11
1    11
2    17
3    30
4   -24
Name: diff, dtype: int32

In [354]:
#not used but may end up being useful
strength = teams \
    .merge(wins, left_on='id', right_on='team_id') \
    .merge(schedule, left_on='id', right_on='home_id') \
    [['game_id', 'home_id', 'result', 'away_id']] \
    .rename(columns={'result': 'home_wins'}) \
    .merge(wins, left_on='away_id', right_on='team_id') \
    .rename(columns={'result': 'away_wins'}) \
    .sort_values('game_id')
strength.head()
strength

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>game_id</th>
      <th>home_id</th>
      <th>home_wins</th>
      <th>away_id</th>
      <th>away_wins</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>353</th>
      <td>0</td>
      <td>20</td>
      <td>17</td>
      <td>10</td>
      <td>19</td>
    </tr>
    <tr>
      <th>110</th>
      <td>1</td>
      <td>22</td>
      <td>18</td>
      <td>2</td>
      <td>22</td>
    </tr>
    <tr>
      <th>1225</th>
      <td>2</td>
      <td>27</td>
      <td>20</td>
      <td>11</td>
      <td>18</td>
    </tr>
    <tr>
      <th>675</th>
      <td>3</td>
      <td>15</td>
      <td>22</td>
      <td>18</td>
      <td>21</td>
    </tr>
    <tr>
      <th>626</th>
      <td>4</td>
      <td>9</td>
      <td>17</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>1031</th>
      <td>5</td>
      <td>3</td>
      <td>21</td>
      <td>23</td>
      <td>21</td>
    </tr>
    <tr>
      <th>934</th>
      <td>6</td>
      <td>25</td>
      <td>10</td>
      <td>4</td>
      <td>15</td>
    </tr>
    <tr>
      <th>575</th>
      <td>7</td>
      <td>1</td>
      <td>20</td>
      <td>22</td>
      <td>18</td>
    </tr>
    <tr>
      <th>819</th>
      <td>8</td>
      <td>30</td>
      <td>14</td>
      <td>29</td>
      <td>20</td>
    </tr>
    <tr>
      <th>1209</th>
      <td>9</td>
      <td>16</td>
      <td>22</td>
      <td>11</td>
      <td>18</td>
    </tr>
    <tr>
      <th>1262</th>
      <td>10</td>
      <td>24</td>
      <td>19</td>
      <td>0</td>
      <td>21</td>
    </tr>
    <tr>
      <th>322</th>
      <td>11</td>
      <td>26</td>
      <td>13</td>
      <td>6</td>
      <td>22</td>
    </tr>
    <tr>
      <th>715</th>
      <td>12</td>
      <td>14</td>
      <td>19</td>
      <td>13</td>
      <td>18</td>
    </tr>
    <tr>
      <th>1184</th>
      <td>13</td>
      <td>28</td>
      <td>19</td>
      <td>17</td>
      <td>27</td>
    </tr>
    <tr>
      <th>518</th>
      <td>14</td>
      <td>19</td>
      <td>27</td>
      <td>21</td>
      <td>15</td>
    </tr>
    <tr>
      <th>1200</th>
      <td>15</td>
      <td>9</td>
      <td>17</td>
      <td>11</td>
      <td>18</td>
    </tr>
    <tr>
      <th>1156</th>
      <td>16</td>
      <td>7</td>
      <td>8</td>
      <td>17</td>
      <td>27</td>
    </tr>
    <tr>
      <th>797</th>
      <td>17</td>
      <td>12</td>
      <td>16</td>
      <td>29</td>
      <td>20</td>
    </tr>
    <tr>
      <th>383</th>
      <td>18</td>
      <td>10</td>
      <td>19</td>
      <td>15</td>
      <td>22</td>
    </tr>
    <tr>
      <th>739</th>
      <td>19</td>
      <td>1</td>
      <td>20</td>
      <td>14</td>
      <td>19</td>
    </tr>
    <tr>
      <th>560</th>
      <td>20</td>
      <td>21</td>
      <td>15</td>
      <td>19</td>
      <td>27</td>
    </tr>
    <tr>
      <th>1241</th>
      <td>21</td>
      <td>8</td>
      <td>19</td>
      <td>0</td>
      <td>21</td>
    </tr>
    <tr>
      <th>467</th>
      <td>22</td>
      <td>13</td>
      <td>18</td>
      <td>25</td>
      <td>10</td>
    </tr>
    <tr>
      <th>1102</th>
      <td>23</td>
      <td>26</td>
      <td>13</td>
      <td>30</td>
      <td>14</td>
    </tr>
    <tr>
      <th>1055</th>
      <td>24</td>
      <td>22</td>
      <td>18</td>
      <td>23</td>
      <td>21</td>
    </tr>
    <tr>
      <th>1143</th>
      <td>25</td>
      <td>27</td>
      <td>20</td>
      <td>16</td>
      <td>22</td>
    </tr>
    <tr>
      <th>128</th>
      <td>26</td>
      <td>2</td>
      <td>22</td>
      <td>28</td>
      <td>19</td>
    </tr>
    <tr>
      <th>886</th>
      <td>27</td>
      <td>18</td>
      <td>21</td>
      <td>24</td>
      <td>19</td>
    </tr>
    <tr>
      <th>949</th>
      <td>28</td>
      <td>5</td>
      <td>16</td>
      <td>20</td>
      <td>17</td>
    </tr>
    <tr>
      <th>908</th>
      <td>29</td>
      <td>6</td>
      <td>22</td>
      <td>4</td>
      <td>15</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>1174</th>
      <td>1241</td>
      <td>20</td>
      <td>17</td>
      <td>17</td>
      <td>27</td>
    </tr>
    <tr>
      <th>27</th>
      <td>1242</td>
      <td>21</td>
      <td>15</td>
      <td>3</td>
      <td>21</td>
    </tr>
    <tr>
      <th>803</th>
      <td>1243</td>
      <td>16</td>
      <td>22</td>
      <td>29</td>
      <td>20</td>
    </tr>
    <tr>
      <th>667</th>
      <td>1244</td>
      <td>8</td>
      <td>19</td>
      <td>18</td>
      <td>21</td>
    </tr>
    <tr>
      <th>880</th>
      <td>1245</td>
      <td>13</td>
      <td>18</td>
      <td>24</td>
      <td>19</td>
    </tr>
    <tr>
      <th>220</th>
      <td>1246</td>
      <td>11</td>
      <td>18</td>
      <td>12</td>
      <td>16</td>
    </tr>
    <tr>
      <th>1265</th>
      <td>1247</td>
      <td>27</td>
      <td>20</td>
      <td>0</td>
      <td>21</td>
    </tr>
    <tr>
      <th>623</th>
      <td>1248</td>
      <td>5</td>
      <td>16</td>
      <td>7</td>
      <td>8</td>
    </tr>
    <tr>
      <th>346</th>
      <td>1249</td>
      <td>15</td>
      <td>22</td>
      <td>10</td>
      <td>19</td>
    </tr>
    <tr>
      <th>1035</th>
      <td>1250</td>
      <td>6</td>
      <td>22</td>
      <td>23</td>
      <td>21</td>
    </tr>
    <tr>
      <th>138</th>
      <td>1251</td>
      <td>9</td>
      <td>17</td>
      <td>28</td>
      <td>19</td>
    </tr>
    <tr>
      <th>85</th>
      <td>1252</td>
      <td>1</td>
      <td>20</td>
      <td>2</td>
      <td>22</td>
    </tr>
    <tr>
      <th>277</th>
      <td>1253</td>
      <td>22</td>
      <td>18</td>
      <td>26</td>
      <td>13</td>
    </tr>
    <tr>
      <th>476</th>
      <td>1254</td>
      <td>19</td>
      <td>27</td>
      <td>25</td>
      <td>10</td>
    </tr>
    <tr>
      <th>53</th>
      <td>1255</td>
      <td>7</td>
      <td>8</td>
      <td>9</td>
      <td>17</td>
    </tr>
    <tr>
      <th>250</th>
      <td>1256</td>
      <td>3</td>
      <td>21</td>
      <td>26</td>
      <td>13</td>
    </tr>
    <tr>
      <th>550</th>
      <td>1257</td>
      <td>12</td>
      <td>16</td>
      <td>19</td>
      <td>27</td>
    </tr>
    <tr>
      <th>1162</th>
      <td>1258</td>
      <td>10</td>
      <td>19</td>
      <td>17</td>
      <td>27</td>
    </tr>
    <tr>
      <th>83</th>
      <td>1259</td>
      <td>0</td>
      <td>21</td>
      <td>2</td>
      <td>22</td>
    </tr>
    <tr>
      <th>737</th>
      <td>1260</td>
      <td>30</td>
      <td>14</td>
      <td>13</td>
      <td>18</td>
    </tr>
    <tr>
      <th>1010</th>
      <td>1261</td>
      <td>20</td>
      <td>17</td>
      <td>5</td>
      <td>16</td>
    </tr>
    <tr>
      <th>479</th>
      <td>1262</td>
      <td>21</td>
      <td>15</td>
      <td>25</td>
      <td>10</td>
    </tr>
    <tr>
      <th>147</th>
      <td>1263</td>
      <td>16</td>
      <td>22</td>
      <td>28</td>
      <td>19</td>
    </tr>
    <tr>
      <th>769</th>
      <td>1264</td>
      <td>23</td>
      <td>21</td>
      <td>14</td>
      <td>19</td>
    </tr>
    <tr>
      <th>876</th>
      <td>1265</td>
      <td>11</td>
      <td>18</td>
      <td>24</td>
      <td>19</td>
    </tr>
    <tr>
      <th>816</th>
      <td>1266</td>
      <td>27</td>
      <td>20</td>
      <td>29</td>
      <td>20</td>
    </tr>
    <tr>
      <th>924</th>
      <td>1267</td>
      <td>18</td>
      <td>21</td>
      <td>4</td>
      <td>15</td>
    </tr>
    <tr>
      <th>185</th>
      <td>1268</td>
      <td>15</td>
      <td>22</td>
      <td>1</td>
      <td>20</td>
    </tr>
    <tr>
      <th>418</th>
      <td>1269</td>
      <td>6</td>
      <td>22</td>
      <td>8</td>
      <td>19</td>
    </tr>
    <tr>
      <th>496</th>
      <td>1270</td>
      <td>3</td>
      <td>21</td>
      <td>21</td>
      <td>15</td>
    </tr>
  </tbody>
</table>
<p>1271 rows × 5 columns</p>
</div>

In [353]:
def strength_calc(team, df):
    return df \
        .loc[lambda x: (x['away_id'] == team) | (x['home_id'] == team)] \
        .assign(opponent=lambda x: x['away_id'] + x['home_id'] - team) \
        .drop(columns=['date', 'away_id', 'home_id']) \
        .sort_values('game_id') \
        .tail(n=41) \
        .merge(wins, left_on='opponent', right_on='team_id') \
        ['result'] \
        .sum()


strength = teams \
    .assign(strength=lambda x: x['id'].apply(strength_calc, df=schedule))
strength

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>teams</th>
      <th>strength</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>Avalanche</td>
      <td>777</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>Blackhawks</td>
      <td>787</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>Blues</td>
      <td>773</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>Bruins</td>
      <td>734</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>Canadiens</td>
      <td>769</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>Canucks</td>
      <td>771</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>Capitals</td>
      <td>746</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>Coyotes</td>
      <td>778</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>Devils</td>
      <td>778</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>Ducks</td>
      <td>758</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>Flames</td>
      <td>775</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>Flyers</td>
      <td>758</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>Hurricanes</td>
      <td>758</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>Islanders</td>
      <td>743</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>Jackets</td>
      <td>761</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>Jets</td>
      <td>775</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>Kings</td>
      <td>754</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>Knights</td>
      <td>751</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>Leafs</td>
      <td>729</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>Lightning</td>
      <td>723</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>Oilers</td>
      <td>771</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>Panthers</td>
      <td>742</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>Penguins</td>
      <td>759</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>Predators</td>
      <td>753</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>Rangers</td>
      <td>773</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>Sabres</td>
      <td>781</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>Senators</td>
      <td>754</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>Sharks</td>
      <td>783</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>Stars</td>
      <td>767</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>Wild</td>
      <td>774</td>
    </tr>
    <tr>
      <th>30</th>
      <td>30</td>
      <td>Wings</td>
      <td>774</td>
    </tr>
  </tbody>
</table>
</div>

In [ ]:
#calc points
#calc blowouts