In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np
from pandas import DataFrame, Series
import time

In [2]:
r = requests.get('https://www.hockey-reference.com/leagues/NHL_2018_games.html')
soup = BeautifulSoup(r.content, 'html.parser')

In [3]:
def result_type(df, *col):
    if df[col[0]] > df[col[1]]:
        if df['type'] == 'SO':
            return 4
        else:
            return 1
    elif df['type'] == 'OT':
        return 3
    return 2

In [4]:
df = DataFrame(np.array([ele.get_text() for ele in soup.select('#games > tbody > tr > .')]).reshape(-1, 9)) \
    .drop(columns=[6, 7, 8], axis=1) \
    .rename(columns={0: 'date', 1: 'away', 2: 'away_goals', 3: 'home', 4: 'home_goals', 5: 'type'}) \
    .assign(away_result=lambda x: x.apply(result_type, args=['away_goals', 'home_goals'], axis=1)) \
    .assign(home_result=lambda x: x.apply(result_type, args=['home_goals', 'away_goals'], axis=1)) \
    .reset_index() \
    .rename(columns={'index': 'id'}) \
    .assign(id=lambda x: x['id'] + 1)
df.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>date</th>
      <th>away</th>
      <th>away_goals</th>
      <th>home</th>
      <th>home_goals</th>
      <th>type</th>
      <th>away_result</th>
      <th>home_result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2017-10-04</td>
      <td>Calgary Flames</td>
      <td>0</td>
      <td>Edmonton Oilers</td>
      <td>3</td>
      <td></td>
      <td>2</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>2017-10-04</td>
      <td>St. Louis Blues</td>
      <td>5</td>
      <td>Pittsburgh Penguins</td>
      <td>4</td>
      <td>OT</td>
      <td>1</td>
      <td>3</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>2017-10-04</td>
      <td>Philadelphia Flyers</td>
      <td>5</td>
      <td>San Jose Sharks</td>
      <td>3</td>
      <td></td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>2017-10-04</td>
      <td>Toronto Maple Leafs</td>
      <td>7</td>
      <td>Winnipeg Jets</td>
      <td>2</td>
      <td></td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>2017-10-05</td>
      <td>Arizona Coyotes</td>
      <td>4</td>
      <td>Anaheim Ducks</td>
      <td>5</td>
      <td></td>
      <td>2</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [71]:
df = DataFrame(columns=['away', 'away_goals', 'home', 'home_goals', 'type', 'away_result', 'home_result', 'year'])

for i in range(2008, 2019):
    r = requests.get(f'https://www.hockey-reference.com/leagues/NHL_{i}_games.html')
    soup = BeautifulSoup(r.content, 'html.parser')
    current_year = DataFrame(np.array([ele.get_text() for ele in soup.select('#games > tbody > tr > .')]).reshape(-1, 9)) \
        .drop(columns=[0, 6, 7, 8], axis=1) \
        .rename(columns={1: 'away', 2: 'away_goals', 3: 'home', 4: 'home_goals', 5: 'type'}) \
        .assign(away_result=lambda x: x.apply(result_type, args=['away_goals', 'home_goals'], axis=1)) \
        .assign(home_result=lambda x: x.apply(result_type, args=['home_goals', 'away_goals'], axis=1)) \
        .assign(year=str(i))
    df = pd.concat([df, current_year], ignore_index=True)
    time.sleep(5)
    
df = df \
       .reset_index() \
       .rename(columns={'index': 'id'}) \
       .assign(id=lambda x: x['id'] + 1)
df

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>away</th>
      <th>away_goals</th>
      <th>home</th>
      <th>home_goals</th>
      <th>type</th>
      <th>away_result</th>
      <th>home_result</th>
      <th>year</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Anaheim Ducks</td>
      <td>1</td>
      <td>Los Angeles Kings</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Los Angeles Kings</td>
      <td>1</td>
      <td>Anaheim Ducks</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Montreal Canadiens</td>
      <td>3</td>
      <td>Carolina Hurricanes</td>
      <td>2</td>
      <td>OT</td>
      <td>1</td>
      <td>3</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Dallas Stars</td>
      <td>3</td>
      <td>Colorado Avalanche</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Anaheim Ducks</td>
      <td>2</td>
      <td>Detroit Red Wings</td>
      <td>3</td>
      <td>SO</td>
      <td>2</td>
      <td>4</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>Ottawa Senators</td>
      <td>4</td>
      <td>Toronto Maple Leafs</td>
      <td>3</td>
      <td>OT</td>
      <td>1</td>
      <td>3</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>Philadelphia Flyers</td>
      <td>3</td>
      <td>Calgary Flames</td>
      <td>2</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>San Jose Sharks</td>
      <td>2</td>
      <td>Edmonton Oilers</td>
      <td>3</td>
      <td>SO</td>
      <td>2</td>
      <td>4</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>Chicago Blackhawks</td>
      <td>0</td>
      <td>Minnesota Wild</td>
      <td>1</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>Colorado Avalanche</td>
      <td>0</td>
      <td>Nashville Predators</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>Florida Panthers</td>
      <td>2</td>
      <td>New York Rangers</td>
      <td>5</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>Toronto Maple Leafs</td>
      <td>2</td>
      <td>Ottawa Senators</td>
      <td>3</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>St. Louis Blues</td>
      <td>2</td>
      <td>Phoenix Coyotes</td>
      <td>3</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>New Jersey Devils</td>
      <td>1</td>
      <td>Tampa Bay Lightning</td>
      <td>3</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>Washington Capitals</td>
      <td>3</td>
      <td>Atlanta Thrashers</td>
      <td>1</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>New York Islanders</td>
      <td>6</td>
      <td>Buffalo Sabres</td>
      <td>4</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>Pittsburgh Penguins</td>
      <td>1</td>
      <td>Carolina Hurricanes</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>Anaheim Ducks</td>
      <td>0</td>
      <td>Columbus Blue Jackets</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>Boston Bruins</td>
      <td>1</td>
      <td>Dallas Stars</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>San Jose Sharks</td>
      <td>3</td>
      <td>Vancouver Canucks</td>
      <td>1</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>Vancouver Canucks</td>
      <td>4</td>
      <td>Calgary Flames</td>
      <td>3</td>
      <td>OT</td>
      <td>1</td>
      <td>3</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>Detroit Red Wings</td>
      <td>3</td>
      <td>Chicago Blackhawks</td>
      <td>4</td>
      <td>SO</td>
      <td>2</td>
      <td>4</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>Philadelphia Flyers</td>
      <td>3</td>
      <td>Edmonton Oilers</td>
      <td>5</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>New Jersey Devils</td>
      <td>4</td>
      <td>Florida Panthers</td>
      <td>1</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>St. Louis Blues</td>
      <td>5</td>
      <td>Los Angeles Kings</td>
      <td>3</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>Columbus Blue Jackets</td>
      <td>2</td>
      <td>Minnesota Wild</td>
      <td>3</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>Dallas Stars</td>
      <td>1</td>
      <td>Nashville Predators</td>
      <td>5</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>Buffalo Sabres</td>
      <td>2</td>
      <td>New York Islanders</td>
      <td>3</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>New York Rangers</td>
      <td>0</td>
      <td>Ottawa Senators</td>
      <td>2</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>Boston Bruins</td>
      <td>3</td>
      <td>Phoenix Coyotes</td>
      <td>1</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2008</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>13035</th>
      <td>13036</td>
      <td>Vegas Golden Knights</td>
      <td>3</td>
      <td>Edmonton Oilers</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13036</th>
      <td>13037</td>
      <td>Boston Bruins</td>
      <td>2</td>
      <td>Florida Panthers</td>
      <td>3</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13037</th>
      <td>13038</td>
      <td>Minnesota Wild</td>
      <td>4</td>
      <td>Los Angeles Kings</td>
      <td>5</td>
      <td>OT</td>
      <td>3</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13038</th>
      <td>13039</td>
      <td>Toronto Maple Leafs</td>
      <td>1</td>
      <td>New Jersey Devils</td>
      <td>2</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13039</th>
      <td>13040</td>
      <td>New York Rangers</td>
      <td>1</td>
      <td>New York Islanders</td>
      <td>2</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13040</th>
      <td>13041</td>
      <td>Carolina Hurricanes</td>
      <td>3</td>
      <td>Philadelphia Flyers</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13041</th>
      <td>13042</td>
      <td>Colorado Avalanche</td>
      <td>2</td>
      <td>San Jose Sharks</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13042</th>
      <td>13043</td>
      <td>Arizona Coyotes</td>
      <td>3</td>
      <td>Vancouver Canucks</td>
      <td>4</td>
      <td>OT</td>
      <td>3</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13043</th>
      <td>13044</td>
      <td>Calgary Flames</td>
      <td>1</td>
      <td>Winnipeg Jets</td>
      <td>2</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13044</th>
      <td>13045</td>
      <td>Nashville Predators</td>
      <td>4</td>
      <td>Washington Capitals</td>
      <td>3</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13045</th>
      <td>13046</td>
      <td>Dallas Stars</td>
      <td>3</td>
      <td>Anaheim Ducks</td>
      <td>5</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13046</th>
      <td>13047</td>
      <td>St. Louis Blues</td>
      <td>4</td>
      <td>Chicago Blackhawks</td>
      <td>1</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13047</th>
      <td>13048</td>
      <td>Ottawa Senators</td>
      <td>0</td>
      <td>Pittsburgh Penguins</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13048</th>
      <td>13049</td>
      <td>Buffalo Sabres</td>
      <td>5</td>
      <td>Tampa Bay Lightning</td>
      <td>7</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13049</th>
      <td>13050</td>
      <td>Anaheim Ducks</td>
      <td>3</td>
      <td>Arizona Coyotes</td>
      <td>0</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13050</th>
      <td>13051</td>
      <td>Ottawa Senators</td>
      <td>2</td>
      <td>Boston Bruins</td>
      <td>5</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13051</th>
      <td>13052</td>
      <td>Tampa Bay Lightning</td>
      <td>2</td>
      <td>Carolina Hurricanes</td>
      <td>3</td>
      <td>OT</td>
      <td>3</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13052</th>
      <td>13053</td>
      <td>Vegas Golden Knights</td>
      <td>1</td>
      <td>Calgary Flames</td>
      <td>7</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13053</th>
      <td>13054</td>
      <td>St. Louis Blues</td>
      <td>2</td>
      <td>Colorado Avalanche</td>
      <td>5</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13054</th>
      <td>13055</td>
      <td>New York Islanders</td>
      <td>4</td>
      <td>Detroit Red Wings</td>
      <td>3</td>
      <td>OT</td>
      <td>1</td>
      <td>3</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13055</th>
      <td>13056</td>
      <td>Vancouver Canucks</td>
      <td>2</td>
      <td>Edmonton Oilers</td>
      <td>3</td>
      <td>SO</td>
      <td>2</td>
      <td>4</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13056</th>
      <td>13057</td>
      <td>Buffalo Sabres</td>
      <td>3</td>
      <td>Florida Panthers</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13057</th>
      <td>13058</td>
      <td>Dallas Stars</td>
      <td>4</td>
      <td>Los Angeles Kings</td>
      <td>2</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13058</th>
      <td>13059</td>
      <td>Columbus Blue Jackets</td>
      <td>2</td>
      <td>Nashville Predators</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13059</th>
      <td>13060</td>
      <td>New York Rangers</td>
      <td>0</td>
      <td>Philadelphia Flyers</td>
      <td>5</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13060</th>
      <td>13061</td>
      <td>Minnesota Wild</td>
      <td>6</td>
      <td>San Jose Sharks</td>
      <td>3</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13061</th>
      <td>13062</td>
      <td>Montreal Canadiens</td>
      <td>2</td>
      <td>Toronto Maple Leafs</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13062</th>
      <td>13063</td>
      <td>Chicago Blackhawks</td>
      <td>1</td>
      <td>Winnipeg Jets</td>
      <td>4</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13063</th>
      <td>13064</td>
      <td>New Jersey Devils</td>
      <td>3</td>
      <td>Washington Capitals</td>
      <td>5</td>
      <td></td>
      <td>2</td>
      <td>1</td>
      <td>2018</td>
    </tr>
    <tr>
      <th>13064</th>
      <td>13065</td>
      <td>Florida Panthers</td>
      <td>4</td>
      <td>Boston Bruins</td>
      <td>2</td>
      <td></td>
      <td>1</td>
      <td>2</td>
      <td>2018</td>
    </tr>
  </tbody>
</table>
<p>13065 rows Ã— 9 columns</p>
</div>

In [95]:
df = df[df['away_goals'] != '']
df = df \
    .assign(away_goals = lambda x: x['away_goals'].astype(int)) \
    .assign(home_goals = lambda x: x['home_goals'].astype(int)) \
    .assign(away_result = lambda x: x['away_result'].astype(int)) \
    .assign(home_result = lambda x: x['home_result'].astype(int)) \
    .assign(year = lambda x: x['year'].astype(int))

In [19]:
teams = DataFrame(df['home'].unique(), columns=['team']) \
    .assign(team=lambda x: x['team'].str.split(' ').str[-1]) \
    .sort_values('team') \
    .reset_index(drop=True) \
    .reset_index() \
    .rename(columns={'index': 'id'}) \
    .assign(id = lambda x: x['id'] + 1)
with open('teams.csv', 'w') as writer:
    writer.write(teams.to_csv(index=False))
teams.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>team</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Avalanche</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Blackhawks</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Blues</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Bruins</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Canadiens</td>
    </tr>
  </tbody>
</table>
</div>

In [20]:
points = DataFrame(data={'result':['W', 'L', 'OTL', 'SOW'], 'points': [2, 0, 1, 2]}) \
    .reset_index() \
    .rename(columns={'index': 'id'}) \
    .assign(id = lambda x: x['id'] + 1)
with open('points.csv', 'w') as writer:
    writer.write(points.to_csv(index=False))
points

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>result</th>
      <th>points</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>W</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>L</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>OTL</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>SOW</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
</div>

In [73]:
schedule = df[['id', 'year', 'away', 'home']] \
    .assign(away=lambda x: x['away'].str.split(' ').str[-1]) \
    .assign(home=lambda x: x['home'].str.split(' ').str[-1]) \
    .merge(teams[['id', 'team']], left_on='away', right_on='team') \
    .merge(teams[['id', 'team']], left_on='home', right_on='team') \
    [['id_x', 'year', 'id_y', 'id']] \
    .rename(columns={'id_x': 'id', 'id_y': 'away_id', 'id': 'home_id'}) \
    .sort_values('id') \
    .reset_index(drop=True)

with open('schedule.csv', 'w') as writer:
    writer.write(schedule.to_csv(index=False))

schedule.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>year</th>
      <th>away_id</th>
      <th>home_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2008</td>
      <td>10</td>
      <td>17</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>2008</td>
      <td>17</td>
      <td>10</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>2008</td>
      <td>5</td>
      <td>13</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>2008</td>
      <td>29</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>2008</td>
      <td>10</td>
      <td>31</td>
    </tr>
  </tbody>
</table>
</div>

In [101]:
away = df.loc[:, ['id', 'year', 'away', 'away_goals', 'away_result']] \
    .rename(columns={'away': 'team', 'away_goals': 'goals', 'away_result': 'result_id'})
home = df.loc[:, ['id', 'year', 'home', 'home_goals', 'home_result']] \
    .rename(columns={'home': 'team', 'home_goals': 'goals', 'home_result': 'result_id'})

results = pd.concat([away, home]) \
    .assign(team=lambda x: x['team'].str.split(' ').str[-1]) \
    .merge(teams, left_on='team', right_on='team') \
    .drop(columns=['team']) \
    .rename(columns={'id_x': 'game_id', 'id_y': 'team_id'}) \
    .sort_values('game_id') \
    .reset_index() \
    .rename(columns={'index': 'id'}) \
    [['id', 'game_id', 'year', 'team_id', 'goals', 'result_id']]

with open('results.csv', 'w') as writer:
    writer.write(results.to_csv(index=False))

results.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>game_id</th>
      <th>year</th>
      <th>team_id</th>
      <th>goals</th>
      <th>result_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2008</td>
      <td>10</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1302</td>
      <td>1</td>
      <td>2008</td>
      <td>17</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>868</td>
      <td>2</td>
      <td>2008</td>
      <td>17</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>434</td>
      <td>2</td>
      <td>2008</td>
      <td>10</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1736</td>
      <td>3</td>
      <td>2008</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [65]:
df_2 = DataFrame()

for i in range(2008, 2019):
    r = requests.get(f'https://www.hockey-reference.com/leagues/NHL_{i}.html')
    soup = BeautifulSoup(r.content, 'html.parser')
    temp = pd.concat([DataFrame([ele.get_text() for ele in soup.select('#standings_EAS > tbody > tr > th')]),
                      DataFrame([ele.get_text() for ele in soup.select('#standings_WES > tbody > tr > th')])
                     ]) \
            .assign(year=i)
    df_2 = pd.concat([df_2, temp])
    time.sleep(5)

In [66]:
playoffs = df_2 \
            .assign(playoffs=lambda x: x.iloc[:, 0].str.endswith('*').astype(int),
                    team=lambda x: x.iloc[:, 0].str.split(' ').str[-1].str.replace('*', '')) \
            .merge(teams, left_on='team', right_on='team') \
            .drop(columns=[0, 'team']) \
            .rename(columns={'id': 'team_id'}) \
            .reset_index() \
            .assign(id=lambda x: x['index'] + 1) \
            [['id', 'year', 'team_id', 'playoffs']]

with open('playoffs.csv', 'w') as writer:
    writer.write(playoffs.to_csv(index=False))
    
playoffs

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>year</th>
      <th>team_id</th>
      <th>playoffs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2008</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>2009</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>2010</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>2011</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>2012</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>2013</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>2014</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>2015</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>2016</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>2017</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>2018</td>
      <td>23</td>
      <td>1</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>2008</td>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>2009</td>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>2010</td>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>2011</td>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>2012</td>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>2013</td>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>2014</td>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>2015</td>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>2016</td>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>2017</td>
      <td>9</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>2018</td>
      <td>9</td>
      <td>1</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>2008</td>
      <td>25</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>2009</td>
      <td>25</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>2010</td>
      <td>25</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>2011</td>
      <td>25</td>
      <td>1</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>2012</td>
      <td>25</td>
      <td>1</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>2013</td>
      <td>25</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>2014</td>
      <td>25</td>
      <td>1</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>2015</td>
      <td>25</td>
      <td>1</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>297</th>
      <td>298</td>
      <td>2008</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>298</th>
      <td>299</td>
      <td>2009</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>299</th>
      <td>300</td>
      <td>2010</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>300</th>
      <td>301</td>
      <td>2011</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>301</th>
      <td>302</td>
      <td>2012</td>
      <td>8</td>
      <td>1</td>
    </tr>
    <tr>
      <th>302</th>
      <td>303</td>
      <td>2013</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>303</th>
      <td>304</td>
      <td>2014</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>304</th>
      <td>305</td>
      <td>2015</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>305</th>
      <td>306</td>
      <td>2016</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>306</th>
      <td>307</td>
      <td>2017</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>307</th>
      <td>308</td>
      <td>2018</td>
      <td>8</td>
      <td>0</td>
    </tr>
    <tr>
      <th>308</th>
      <td>309</td>
      <td>2008</td>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>309</th>
      <td>310</td>
      <td>2009</td>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>310</th>
      <td>311</td>
      <td>2010</td>
      <td>17</td>
      <td>1</td>
    </tr>
    <tr>
      <th>311</th>
      <td>312</td>
      <td>2011</td>
      <td>17</td>
      <td>1</td>
    </tr>
    <tr>
      <th>312</th>
      <td>313</td>
      <td>2012</td>
      <td>17</td>
      <td>1</td>
    </tr>
    <tr>
      <th>313</th>
      <td>314</td>
      <td>2013</td>
      <td>17</td>
      <td>1</td>
    </tr>
    <tr>
      <th>314</th>
      <td>315</td>
      <td>2014</td>
      <td>17</td>
      <td>1</td>
    </tr>
    <tr>
      <th>315</th>
      <td>316</td>
      <td>2015</td>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>316</th>
      <td>317</td>
      <td>2016</td>
      <td>17</td>
      <td>1</td>
    </tr>
    <tr>
      <th>317</th>
      <td>318</td>
      <td>2017</td>
      <td>17</td>
      <td>0</td>
    </tr>
    <tr>
      <th>318</th>
      <td>319</td>
      <td>2018</td>
      <td>17</td>
      <td>1</td>
    </tr>
    <tr>
      <th>319</th>
      <td>320</td>
      <td>2012</td>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>320</th>
      <td>321</td>
      <td>2013</td>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>321</th>
      <td>322</td>
      <td>2014</td>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>322</th>
      <td>323</td>
      <td>2015</td>
      <td>16</td>
      <td>1</td>
    </tr>
    <tr>
      <th>323</th>
      <td>324</td>
      <td>2016</td>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>324</th>
      <td>325</td>
      <td>2017</td>
      <td>16</td>
      <td>0</td>
    </tr>
    <tr>
      <th>325</th>
      <td>326</td>
      <td>2018</td>
      <td>16</td>
      <td>1</td>
    </tr>
    <tr>
      <th>326</th>
      <td>327</td>
      <td>2018</td>
      <td>18</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
<p>327 rows Ã— 4 columns</p>
</div>

Putting together ML data, can also store in MYSQL database

In [104]:
results.head()

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>game_id</th>
      <th>year</th>
      <th>team_id</th>
      <th>goals</th>
      <th>result_id</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>1</td>
      <td>2008</td>
      <td>10</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1302</td>
      <td>1</td>
      <td>2008</td>
      <td>17</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>2</th>
      <td>868</td>
      <td>2</td>
      <td>2008</td>
      <td>17</td>
      <td>1</td>
      <td>2</td>
    </tr>
    <tr>
      <th>3</th>
      <td>434</td>
      <td>2</td>
      <td>2008</td>
      <td>10</td>
      <td>4</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1736</td>
      <td>3</td>
      <td>2008</td>
      <td>5</td>
      <td>3</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [117]:
wins = results \
    .merge(points[['id', 'result']], left_on='result_id', right_on='id') \
    .sort_values('game_id') \
    .drop(columns=['goals', 'result_id', 'id_y', 'id_x']) \
    .groupby(['team_id', 'year']) \
    .head(41) \
    .loc[lambda x: x['result'] == 'W'] \
    .groupby(['team_id', 'year']) \
    .count() \
    .drop(columns='game_id') \
    .reset_index()
wins

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team_id</th>
      <th>year</th>
      <th>result</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2008</td>
      <td>20</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2009</td>
      <td>14</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>2010</td>
      <td>20</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>2011</td>
      <td>18</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>2012</td>
      <td>15</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>2013</td>
      <td>12</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>2014</td>
      <td>24</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>2015</td>
      <td>12</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>2016</td>
      <td>20</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>2017</td>
      <td>13</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>2018</td>
      <td>21</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>2008</td>
      <td>18</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>2009</td>
      <td>22</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2</td>
      <td>2010</td>
      <td>24</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2</td>
      <td>2011</td>
      <td>19</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2</td>
      <td>2012</td>
      <td>20</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2</td>
      <td>2013</td>
      <td>26</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2</td>
      <td>2014</td>
      <td>23</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2</td>
      <td>2015</td>
      <td>22</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2</td>
      <td>2016</td>
      <td>23</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2</td>
      <td>2017</td>
      <td>22</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2</td>
      <td>2018</td>
      <td>20</td>
    </tr>
    <tr>
      <th>22</th>
      <td>3</td>
      <td>2008</td>
      <td>21</td>
    </tr>
    <tr>
      <th>23</th>
      <td>3</td>
      <td>2009</td>
      <td>12</td>
    </tr>
    <tr>
      <th>24</th>
      <td>3</td>
      <td>2010</td>
      <td>13</td>
    </tr>
    <tr>
      <th>25</th>
      <td>3</td>
      <td>2011</td>
      <td>17</td>
    </tr>
    <tr>
      <th>26</th>
      <td>3</td>
      <td>2012</td>
      <td>24</td>
    </tr>
    <tr>
      <th>27</th>
      <td>3</td>
      <td>2013</td>
      <td>20</td>
    </tr>
    <tr>
      <th>28</th>
      <td>3</td>
      <td>2014</td>
      <td>25</td>
    </tr>
    <tr>
      <th>29</th>
      <td>3</td>
      <td>2015</td>
      <td>22</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>297</th>
      <td>29</td>
      <td>2011</td>
      <td>20</td>
    </tr>
    <tr>
      <th>298</th>
      <td>29</td>
      <td>2012</td>
      <td>21</td>
    </tr>
    <tr>
      <th>299</th>
      <td>29</td>
      <td>2013</td>
      <td>19</td>
    </tr>
    <tr>
      <th>300</th>
      <td>29</td>
      <td>2014</td>
      <td>17</td>
    </tr>
    <tr>
      <th>301</th>
      <td>29</td>
      <td>2015</td>
      <td>16</td>
    </tr>
    <tr>
      <th>302</th>
      <td>29</td>
      <td>2016</td>
      <td>27</td>
    </tr>
    <tr>
      <th>303</th>
      <td>29</td>
      <td>2017</td>
      <td>17</td>
    </tr>
    <tr>
      <th>304</th>
      <td>29</td>
      <td>2018</td>
      <td>19</td>
    </tr>
    <tr>
      <th>305</th>
      <td>30</td>
      <td>2008</td>
      <td>23</td>
    </tr>
    <tr>
      <th>306</th>
      <td>30</td>
      <td>2009</td>
      <td>17</td>
    </tr>
    <tr>
      <th>307</th>
      <td>30</td>
      <td>2010</td>
      <td>17</td>
    </tr>
    <tr>
      <th>308</th>
      <td>30</td>
      <td>2011</td>
      <td>21</td>
    </tr>
    <tr>
      <th>309</th>
      <td>30</td>
      <td>2012</td>
      <td>17</td>
    </tr>
    <tr>
      <th>310</th>
      <td>30</td>
      <td>2013</td>
      <td>18</td>
    </tr>
    <tr>
      <th>311</th>
      <td>30</td>
      <td>2014</td>
      <td>15</td>
    </tr>
    <tr>
      <th>312</th>
      <td>30</td>
      <td>2015</td>
      <td>16</td>
    </tr>
    <tr>
      <th>313</th>
      <td>30</td>
      <td>2016</td>
      <td>22</td>
    </tr>
    <tr>
      <th>314</th>
      <td>30</td>
      <td>2017</td>
      <td>26</td>
    </tr>
    <tr>
      <th>315</th>
      <td>30</td>
      <td>2018</td>
      <td>20</td>
    </tr>
    <tr>
      <th>316</th>
      <td>31</td>
      <td>2008</td>
      <td>26</td>
    </tr>
    <tr>
      <th>317</th>
      <td>31</td>
      <td>2009</td>
      <td>24</td>
    </tr>
    <tr>
      <th>318</th>
      <td>31</td>
      <td>2010</td>
      <td>18</td>
    </tr>
    <tr>
      <th>319</th>
      <td>31</td>
      <td>2011</td>
      <td>25</td>
    </tr>
    <tr>
      <th>320</th>
      <td>31</td>
      <td>2012</td>
      <td>25</td>
    </tr>
    <tr>
      <th>321</th>
      <td>31</td>
      <td>2013</td>
      <td>17</td>
    </tr>
    <tr>
      <th>322</th>
      <td>31</td>
      <td>2014</td>
      <td>17</td>
    </tr>
    <tr>
      <th>323</th>
      <td>31</td>
      <td>2015</td>
      <td>21</td>
    </tr>
    <tr>
      <th>324</th>
      <td>31</td>
      <td>2016</td>
      <td>20</td>
    </tr>
    <tr>
      <th>325</th>
      <td>31</td>
      <td>2017</td>
      <td>12</td>
    </tr>
    <tr>
      <th>326</th>
      <td>31</td>
      <td>2018</td>
      <td>14</td>
    </tr>
  </tbody>
</table>
<p>327 rows Ã— 3 columns</p>
</div>

In [123]:
goal_diff = results \
    .merge(results, left_on='game_id', right_on='game_id') \
    .loc[lambda x: x['team_id_x'] != x['team_id_y']] \
    .assign(diff=lambda x: x['goals_x'].astype(int) - x['goals_y'].astype(int)) \
    .drop(columns=['result_id_x', 'team_id_y', 'result_id_y', 'goals_x', 'goals_y', 'id_x', 'year_y', 'id_y']) \
    .groupby(['team_id_x', 'year_x']) \
    .head(41) \
    .groupby(['team_id_x', 'year_x']) \
    ['diff'] \
    .sum() \
    .reset_index()


goal_diff

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>team_id_x</th>
      <th>year_x</th>
      <th>diff</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>2008</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>2009</td>
      <td>-9</td>
    </tr>
    <tr>
      <th>2</th>
      <td>1</td>
      <td>2010</td>
      <td>5</td>
    </tr>
    <tr>
      <th>3</th>
      <td>1</td>
      <td>2011</td>
      <td>5</td>
    </tr>
    <tr>
      <th>4</th>
      <td>1</td>
      <td>2012</td>
      <td>-6</td>
    </tr>
    <tr>
      <th>5</th>
      <td>1</td>
      <td>2013</td>
      <td>-32</td>
    </tr>
    <tr>
      <th>6</th>
      <td>1</td>
      <td>2014</td>
      <td>16</td>
    </tr>
    <tr>
      <th>7</th>
      <td>1</td>
      <td>2015</td>
      <td>-11</td>
    </tr>
    <tr>
      <th>8</th>
      <td>1</td>
      <td>2016</td>
      <td>3</td>
    </tr>
    <tr>
      <th>9</th>
      <td>1</td>
      <td>2017</td>
      <td>-55</td>
    </tr>
    <tr>
      <th>10</th>
      <td>1</td>
      <td>2018</td>
      <td>11</td>
    </tr>
    <tr>
      <th>11</th>
      <td>2</td>
      <td>2008</td>
      <td>-4</td>
    </tr>
    <tr>
      <th>12</th>
      <td>2</td>
      <td>2009</td>
      <td>43</td>
    </tr>
    <tr>
      <th>13</th>
      <td>2</td>
      <td>2010</td>
      <td>44</td>
    </tr>
    <tr>
      <th>14</th>
      <td>2</td>
      <td>2011</td>
      <td>7</td>
    </tr>
    <tr>
      <th>15</th>
      <td>2</td>
      <td>2012</td>
      <td>12</td>
    </tr>
    <tr>
      <th>16</th>
      <td>2</td>
      <td>2013</td>
      <td>49</td>
    </tr>
    <tr>
      <th>17</th>
      <td>2</td>
      <td>2014</td>
      <td>42</td>
    </tr>
    <tr>
      <th>18</th>
      <td>2</td>
      <td>2015</td>
      <td>39</td>
    </tr>
    <tr>
      <th>19</th>
      <td>2</td>
      <td>2016</td>
      <td>15</td>
    </tr>
    <tr>
      <th>20</th>
      <td>2</td>
      <td>2017</td>
      <td>12</td>
    </tr>
    <tr>
      <th>21</th>
      <td>2</td>
      <td>2018</td>
      <td>11</td>
    </tr>
    <tr>
      <th>22</th>
      <td>3</td>
      <td>2008</td>
      <td>4</td>
    </tr>
    <tr>
      <th>23</th>
      <td>3</td>
      <td>2009</td>
      <td>-23</td>
    </tr>
    <tr>
      <th>24</th>
      <td>3</td>
      <td>2010</td>
      <td>-13</td>
    </tr>
    <tr>
      <th>25</th>
      <td>3</td>
      <td>2011</td>
      <td>-10</td>
    </tr>
    <tr>
      <th>26</th>
      <td>3</td>
      <td>2012</td>
      <td>18</td>
    </tr>
    <tr>
      <th>27</th>
      <td>3</td>
      <td>2013</td>
      <td>6</td>
    </tr>
    <tr>
      <th>28</th>
      <td>3</td>
      <td>2014</td>
      <td>55</td>
    </tr>
    <tr>
      <th>29</th>
      <td>3</td>
      <td>2015</td>
      <td>30</td>
    </tr>
    <tr>
      <th>...</th>
      <td>...</td>
      <td>...</td>
      <td>...</td>
    </tr>
    <tr>
      <th>297</th>
      <td>29</td>
      <td>2011</td>
      <td>5</td>
    </tr>
    <tr>
      <th>298</th>
      <td>29</td>
      <td>2012</td>
      <td>-5</td>
    </tr>
    <tr>
      <th>299</th>
      <td>29</td>
      <td>2013</td>
      <td>-5</td>
    </tr>
    <tr>
      <th>300</th>
      <td>29</td>
      <td>2014</td>
      <td>-4</td>
    </tr>
    <tr>
      <th>301</th>
      <td>29</td>
      <td>2015</td>
      <td>-9</td>
    </tr>
    <tr>
      <th>302</th>
      <td>29</td>
      <td>2016</td>
      <td>37</td>
    </tr>
    <tr>
      <th>303</th>
      <td>29</td>
      <td>2017</td>
      <td>-16</td>
    </tr>
    <tr>
      <th>304</th>
      <td>29</td>
      <td>2018</td>
      <td>9</td>
    </tr>
    <tr>
      <th>305</th>
      <td>30</td>
      <td>2008</td>
      <td>-4</td>
    </tr>
    <tr>
      <th>306</th>
      <td>30</td>
      <td>2009</td>
      <td>7</td>
    </tr>
    <tr>
      <th>307</th>
      <td>30</td>
      <td>2010</td>
      <td>-11</td>
    </tr>
    <tr>
      <th>308</th>
      <td>30</td>
      <td>2011</td>
      <td>-7</td>
    </tr>
    <tr>
      <th>309</th>
      <td>30</td>
      <td>2012</td>
      <td>-3</td>
    </tr>
    <tr>
      <th>310</th>
      <td>30</td>
      <td>2013</td>
      <td>2</td>
    </tr>
    <tr>
      <th>311</th>
      <td>30</td>
      <td>2014</td>
      <td>-11</td>
    </tr>
    <tr>
      <th>312</th>
      <td>30</td>
      <td>2015</td>
      <td>-10</td>
    </tr>
    <tr>
      <th>313</th>
      <td>30</td>
      <td>2016</td>
      <td>13</td>
    </tr>
    <tr>
      <th>314</th>
      <td>30</td>
      <td>2017</td>
      <td>45</td>
    </tr>
    <tr>
      <th>315</th>
      <td>30</td>
      <td>2018</td>
      <td>5</td>
    </tr>
    <tr>
      <th>316</th>
      <td>31</td>
      <td>2008</td>
      <td>56</td>
    </tr>
    <tr>
      <th>317</th>
      <td>31</td>
      <td>2009</td>
      <td>37</td>
    </tr>
    <tr>
      <th>318</th>
      <td>31</td>
      <td>2010</td>
      <td>3</td>
    </tr>
    <tr>
      <th>319</th>
      <td>31</td>
      <td>2011</td>
      <td>31</td>
    </tr>
    <tr>
      <th>320</th>
      <td>31</td>
      <td>2012</td>
      <td>40</td>
    </tr>
    <tr>
      <th>321</th>
      <td>31</td>
      <td>2013</td>
      <td>-4</td>
    </tr>
    <tr>
      <th>322</th>
      <td>31</td>
      <td>2014</td>
      <td>-10</td>
    </tr>
    <tr>
      <th>323</th>
      <td>31</td>
      <td>2015</td>
      <td>13</td>
    </tr>
    <tr>
      <th>324</th>
      <td>31</td>
      <td>2016</td>
      <td>-4</td>
    </tr>
    <tr>
      <th>325</th>
      <td>31</td>
      <td>2017</td>
      <td>-16</td>
    </tr>
    <tr>
      <th>326</th>
      <td>31</td>
      <td>2018</td>
      <td>-15</td>
    </tr>
  </tbody>
</table>
<p>327 rows Ã— 3 columns</p>
</div>

In [132]:
def strength_calc(team, df):
    to_ret = df \
        .loc[lambda x: (x['away_id'] == team) | (x['home_id'] == team)] \
        .assign(opponent=lambda x: x['away_id'] + x['home_id'] - team) \
        .drop(columns=['away_id', 'home_id']) \
        .sort_values('id') \
        .merge(wins, left_on='opponent', right_on='team_id') 
    return to_ret



strength = teams \
    .assign(strength=lambda x: x['id'].apply(strength_calc, df=schedule))
strength

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>team</th>
      <th>strength</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>Avalanche</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>Blackhawks</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>2</th>
      <td>3</td>
      <td>Blues</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>3</th>
      <td>4</td>
      <td>Bruins</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>4</th>
      <td>5</td>
      <td>Canadiens</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>5</th>
      <td>6</td>
      <td>Canucks</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>6</th>
      <td>7</td>
      <td>Capitals</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>7</th>
      <td>8</td>
      <td>Coyotes</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>8</th>
      <td>9</td>
      <td>Devils</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>9</th>
      <td>10</td>
      <td>Ducks</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>10</th>
      <td>11</td>
      <td>Flames</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>11</th>
      <td>12</td>
      <td>Flyers</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>12</th>
      <td>13</td>
      <td>Hurricanes</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>13</th>
      <td>14</td>
      <td>Islanders</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>14</th>
      <td>15</td>
      <td>Jackets</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>15</th>
      <td>16</td>
      <td>Jets</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>16</th>
      <td>17</td>
      <td>Kings</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>17</th>
      <td>18</td>
      <td>Knights</td>
      <td>id year_x  opponent  team_id  year_y  ...</td>
    </tr>
    <tr>
      <th>18</th>
      <td>19</td>
      <td>Leafs</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>19</th>
      <td>20</td>
      <td>Lightning</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>20</th>
      <td>21</td>
      <td>Oilers</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>21</th>
      <td>22</td>
      <td>Panthers</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>22</th>
      <td>23</td>
      <td>Penguins</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>23</th>
      <td>24</td>
      <td>Predators</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>24</th>
      <td>25</td>
      <td>Rangers</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>25</th>
      <td>26</td>
      <td>Sabres</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>26</th>
      <td>27</td>
      <td>Senators</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>27</th>
      <td>28</td>
      <td>Sharks</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>28</th>
      <td>29</td>
      <td>Stars</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>29</th>
      <td>30</td>
      <td>Wild</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
    <tr>
      <th>30</th>
      <td>31</td>
      <td>Wings</td>
      <td>id year_x  opponent  team_id  year_y ...</td>
    </tr>
  </tbody>
</table>
</div>

In [21]:
total_points = results \
    .merge(points[['id', 'points']], left_on='result_id', right_on='id') \
    .sort_values('game_id') \
    .drop(columns=['game_id', 'goals', 'result_id', 'id']) \
    .groupby('team_id') \
    .head(41) \
    .groupby('team_id') \
    .sum()
total_points

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>points</th>
    </tr>
    <tr>
      <th>team_id</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>46</td>
    </tr>
    <tr>
      <th>1</th>
      <td>45</td>
    </tr>
    <tr>
      <th>2</th>
      <td>50</td>
    </tr>
    <tr>
      <th>3</th>
      <td>53</td>
    </tr>
    <tr>
      <th>4</th>
      <td>37</td>
    </tr>
    <tr>
      <th>5</th>
      <td>35</td>
    </tr>
    <tr>
      <th>6</th>
      <td>52</td>
    </tr>
    <tr>
      <th>7</th>
      <td>22</td>
    </tr>
    <tr>
      <th>8</th>
      <td>48</td>
    </tr>
    <tr>
      <th>9</th>
      <td>42</td>
    </tr>
    <tr>
      <th>10</th>
      <td>43</td>
    </tr>
    <tr>
      <th>11</th>
      <td>41</td>
    </tr>
    <tr>
      <th>12</th>
      <td>43</td>
    </tr>
    <tr>
      <th>13</th>
      <td>43</td>
    </tr>
    <tr>
      <th>14</th>
      <td>46</td>
    </tr>
    <tr>
      <th>15</th>
      <td>52</td>
    </tr>
    <tr>
      <th>16</th>
      <td>53</td>
    </tr>
    <tr>
      <th>17</th>
      <td>58</td>
    </tr>
    <tr>
      <th>18</th>
      <td>47</td>
    </tr>
    <tr>
      <th>19</th>
      <td>59</td>
    </tr>
    <tr>
      <th>20</th>
      <td>38</td>
    </tr>
    <tr>
      <th>21</th>
      <td>37</td>
    </tr>
    <tr>
      <th>22</th>
      <td>42</td>
    </tr>
    <tr>
      <th>23</th>
      <td>50</td>
    </tr>
    <tr>
      <th>24</th>
      <td>45</td>
    </tr>
    <tr>
      <th>25</th>
      <td>28</td>
    </tr>
    <tr>
      <th>26</th>
      <td>32</td>
    </tr>
    <tr>
      <th>27</th>
      <td>48</td>
    </tr>
    <tr>
      <th>28</th>
      <td>46</td>
    </tr>
    <tr>
      <th>29</th>
      <td>46</td>
    </tr>
    <tr>
      <th>30</th>
      <td>40</td>
    </tr>
  </tbody>
</table>
</div>

In [37]:
summary = teams \
    .merge(wins, left_on='id', right_on='team_id') \
    .merge(goal_diff, left_on='id', right_on='team_id_x') \
    .merge(strength, left_on='id', right_on='id')  \
    .merge(total_points, left_on='id', right_on='team_id') \
    .merge(playoffs, left_on='id', right_on='id') \
    .drop(columns=['teams_x', 'team_id_x', 'teams_y', 'year']) \
    .rename(columns={'result': 'wins'})
summary

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>id</th>
      <th>wins</th>
      <th>diff</th>
      <th>strength</th>
      <th>points</th>
      <th>playoffs</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>0</td>
      <td>21</td>
      <td>11</td>
      <td>777</td>
      <td>46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>1</th>
      <td>1</td>
      <td>20</td>
      <td>11</td>
      <td>787</td>
      <td>45</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>2</td>
      <td>22</td>
      <td>17</td>
      <td>773</td>
      <td>50</td>
      <td>0</td>
    </tr>
    <tr>
      <th>3</th>
      <td>3</td>
      <td>21</td>
      <td>30</td>
      <td>734</td>
      <td>53</td>
      <td>1</td>
    </tr>
    <tr>
      <th>4</th>
      <td>4</td>
      <td>15</td>
      <td>-24</td>
      <td>769</td>
      <td>37</td>
      <td>0</td>
    </tr>
    <tr>
      <th>5</th>
      <td>5</td>
      <td>16</td>
      <td>-27</td>
      <td>771</td>
      <td>35</td>
      <td>0</td>
    </tr>
    <tr>
      <th>6</th>
      <td>6</td>
      <td>22</td>
      <td>11</td>
      <td>746</td>
      <td>52</td>
      <td>1</td>
    </tr>
    <tr>
      <th>7</th>
      <td>7</td>
      <td>8</td>
      <td>-52</td>
      <td>778</td>
      <td>22</td>
      <td>0</td>
    </tr>
    <tr>
      <th>8</th>
      <td>8</td>
      <td>19</td>
      <td>5</td>
      <td>778</td>
      <td>48</td>
      <td>1</td>
    </tr>
    <tr>
      <th>9</th>
      <td>9</td>
      <td>17</td>
      <td>-1</td>
      <td>758</td>
      <td>42</td>
      <td>1</td>
    </tr>
    <tr>
      <th>10</th>
      <td>10</td>
      <td>19</td>
      <td>-4</td>
      <td>775</td>
      <td>43</td>
      <td>0</td>
    </tr>
    <tr>
      <th>11</th>
      <td>11</td>
      <td>18</td>
      <td>-2</td>
      <td>758</td>
      <td>41</td>
      <td>1</td>
    </tr>
    <tr>
      <th>12</th>
      <td>12</td>
      <td>16</td>
      <td>-11</td>
      <td>758</td>
      <td>43</td>
      <td>0</td>
    </tr>
    <tr>
      <th>13</th>
      <td>13</td>
      <td>18</td>
      <td>-9</td>
      <td>743</td>
      <td>43</td>
      <td>0</td>
    </tr>
    <tr>
      <th>14</th>
      <td>14</td>
      <td>19</td>
      <td>0</td>
      <td>761</td>
      <td>46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>15</th>
      <td>15</td>
      <td>22</td>
      <td>23</td>
      <td>775</td>
      <td>52</td>
      <td>1</td>
    </tr>
    <tr>
      <th>16</th>
      <td>16</td>
      <td>22</td>
      <td>28</td>
      <td>754</td>
      <td>53</td>
      <td>1</td>
    </tr>
    <tr>
      <th>17</th>
      <td>17</td>
      <td>27</td>
      <td>30</td>
      <td>751</td>
      <td>58</td>
      <td>1</td>
    </tr>
    <tr>
      <th>18</th>
      <td>18</td>
      <td>21</td>
      <td>15</td>
      <td>729</td>
      <td>47</td>
      <td>1</td>
    </tr>
    <tr>
      <th>19</th>
      <td>19</td>
      <td>27</td>
      <td>49</td>
      <td>723</td>
      <td>59</td>
      <td>1</td>
    </tr>
    <tr>
      <th>20</th>
      <td>20</td>
      <td>17</td>
      <td>-16</td>
      <td>771</td>
      <td>38</td>
      <td>0</td>
    </tr>
    <tr>
      <th>21</th>
      <td>21</td>
      <td>15</td>
      <td>-20</td>
      <td>742</td>
      <td>37</td>
      <td>0</td>
    </tr>
    <tr>
      <th>22</th>
      <td>22</td>
      <td>18</td>
      <td>-13</td>
      <td>759</td>
      <td>42</td>
      <td>1</td>
    </tr>
    <tr>
      <th>23</th>
      <td>23</td>
      <td>21</td>
      <td>16</td>
      <td>753</td>
      <td>50</td>
      <td>1</td>
    </tr>
    <tr>
      <th>24</th>
      <td>24</td>
      <td>19</td>
      <td>12</td>
      <td>773</td>
      <td>45</td>
      <td>0</td>
    </tr>
    <tr>
      <th>25</th>
      <td>25</td>
      <td>10</td>
      <td>-48</td>
      <td>781</td>
      <td>28</td>
      <td>0</td>
    </tr>
    <tr>
      <th>26</th>
      <td>26</td>
      <td>13</td>
      <td>-33</td>
      <td>754</td>
      <td>32</td>
      <td>0</td>
    </tr>
    <tr>
      <th>27</th>
      <td>27</td>
      <td>20</td>
      <td>5</td>
      <td>783</td>
      <td>48</td>
      <td>1</td>
    </tr>
    <tr>
      <th>28</th>
      <td>28</td>
      <td>19</td>
      <td>9</td>
      <td>767</td>
      <td>46</td>
      <td>0</td>
    </tr>
    <tr>
      <th>29</th>
      <td>29</td>
      <td>20</td>
      <td>5</td>
      <td>774</td>
      <td>46</td>
      <td>1</td>
    </tr>
    <tr>
      <th>30</th>
      <td>30</td>
      <td>14</td>
      <td>-15</td>
      <td>774</td>
      <td>40</td>
      <td>0</td>
    </tr>
  </tbody>
</table>
</div>